{% extends '@runroom/layouts/_default.html.twig' %}

{% block content %}
    <div class="wrapper">
        <h1 class="my-8">{{ node.label }}</h1>
        {{ content.field_components }}
    </div>
{% endblock %}
