{% from '@runroom/helpers/_macros.html.twig' import icon %}

<div class="py-4 bg-neutral-900 text-white absolute bottom-0 left-0 w-full js-cookies">
    <div class="wrapper flex flex-wrap items-center">
        <p>
            {{ 'cookies.advice'|trans({ '@url': path('cookies.page') }) }}
        </p>
        <a class="button js-cookies-accept" href="#">{{ 'cookies.accept'|trans }}</a>
    </div>
    {{ icon('exit', 'fill-white js-cookies-close') }}
</div>
