.Archive-item {
    border-bottom: 1px solid $c-border;
    margin-bottom: space();
    padding-bottom: space();

    .date {
        text-decoration: none;
    }

    &.item-presentation {
        .Archive-itemLink {
            color: $c-secondary;
            display: block;
            margin-bottom: space(.5);
            text-decoration: none;
        }
    }

    .Archive-itemLink {
        color: $c-main;
        display: block;
        margin-bottom: space(.5);
        text-decoration: none;

        @include transition($type: color);

        &:hover {
            color: $c-secondary;
        }
    }

    .Archive-itemInfo {
        .date, .type, .link {
            display: inline-block;
        }

        .date, .type {
            margin-right: space(.5);
        }

        .type {
            font-size: get-rems(12px);
        }

        .link {
            color: $c-mainLight;

            @include transition($type: color);

            &:hover {
                color: $c-secondary;
            }
        }
    }
}
