.btn {
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-size: get-rems(12px);
    font-weight: 600;
    letter-spacing: get-rems(4px);
    min-width: space(6);
    padding: get-rems(14px) space(1.75);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease;

    &.back {
        padding-left: 0;
        padding-right: 0;
    }

    &.main {
        background-color: $c-main;
        border: 1px solid $c-main;
        color: $c-white;
    }

    &.main-light {
        background-color: $c-mainLight;
        border: 1px solid $c-mainLight;
        color: $c-white;
    }

    &.main,
    &.main-light {
        position: relative;

        span {
            position: relative;
            z-index: 1;
        }

        &::before {
            background-color: $c-mainLight;
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 0;
            z-index: 0;

            @include transition;
        }

        @include breakpoint($s960) {
            &:hover {
                border-color: $c-mainLight;
                color: $c-white;
            }

            &:hover::before {
                width: 100%;
            }
        }
    }

    &.hollow {
        background-color: transparent;
        border: 1px solid $c-main;
        color: $c-main;
    }

    &.hollow-light {
        background-color: transparent;
        border: 1px solid $c-mainLight;
        color: $c-mainLight;
    }

    &.hollow,
    &.hollow-light {
        position: relative;

        span {
            position: relative;
            z-index: 1;
        }

        &::before {
            background-color: $c-mainLight;
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 0;
            z-index: 0;

            @include transition;
        }

        @include breakpoint($s960) {
            &:hover {
                border-color: $c-mainLight;
                color: $c-white;
            }

            &:hover::before {
                width: 100%;
            }
        }
    }
}
