.link {
    align-items: center;
    display: flex;
    font-size: get-rems(12px);
    font-weight: 600;
    letter-spacing: get-rems(4px);
    text-decoration: none;
    text-transform: uppercase;

    .u-icon {
        @include transition($type: left, $time: .1s, $ease: ease-in-out);

        display: inline-block;
        fill: $c-mainDark;
        height: get-rems(10px);
        left: 0;
        margin-left: get-rems(10px);
        position: relative;
        width: get-rems(14px);

        path {
            @include transition($type: color, $time: .1s, $ease: ease-in-out);

            fill: $c-mainDark;
        }
    }

    &.back {
        margin-bottom: space();

        @include breakpoint($s768) { margin-bottom: space(1.5); }

        .u-icon {
            fill: $c-mainDark;
            margin-left: 0;
            margin-right: get-rems(8px);
            transform: rotate(90deg);
            width: get-rems(9px);
        }

        &:hover {
            .u-icon {
                left: get-rems(-2px);

                path { fill: $c-secondary; }
            }
        }

        &.desktop {
            display: none;

            @include breakpoint($s768) { display: inline-block; }
        }

        &.mobile {
            display: inline-block;

            @include breakpoint($s768) { display: none; }
        }
    }

    &.download {
        .u-icon {
            fill: $c-main;
            height: get-rems(18px);
            margin-left: get-rems(8px);
            position: relative;
            top: 3px;
            width: get-rems(18px);

            @include transition($type: fill);
        }

        &:hover {
            .u-icon {
                fill: $c-secondary;
                left: 0;
            }
        }
    }

    &:hover {
        svg {
            fill: $c-secondary;
            left: get-rems(3px);

            path { fill: $c-secondary; }
        }
    }

    &.link-white:hover {
        color: $c-white;

        svg {
            fill: $c-white;

            path { fill: $c-white; }
        }
    }

    &.link-right {
        display: block;
        text-align: right;
    }
}
