{% macro main_menu(items, menu_level) %}
    {% import _self as menus %}

    <div class="navigation">
        <ul class="u-flex">
            {% for item in items %}
            <li{{ item.attributes }}>
                {{ link(item.title, item.url) }}

                {% if item.below %}
                    {{ menus.main_menu(item.below, menu_level + 1) }}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}
