{% include directory ~ '/templates/styleguide/templates/_sidebar.html.twig' %}

<main class="styleguide theme-{% block theme %}base{% endblock %}" role="main" id="main-content">
    {% block body %}{% endblock %}
</main>

{% block libraries %}{% endblock %}
