{% include directory ~ '/templates/styleguide/templates/sidebar.html.twig' %}
<main class="styleguide" role="main" id="main-content">
    {% block body %}{% endblock %}
</main>

{% block libraries %}{% endblock %}
