.grid-sample {
    background-color: $c-neutro100;

    @include space('padding', .5);

    [class^="u-flex--s"] {
        border: 1px solid $c-white;
        color: $c-neutro300;
        min-height: 48px;
        text-align: center;

        @include space('padding', .5);
    }

    [class^="u-flex--s"]:nth-child(odd) {
        background: rgba($c-secondary, .2);
    }

    [class^="u-flex--s"]:nth-child(even) {
        background: rgba($c-secondary, .3);
    }
}
