{
  "parser": "@babel/eslint-parser",
  "extends": "@runroom/eslint-config-runroom",
  "env": {
    "browser": true,
    "jquery": true
  },
  "rules": {
    "operator-linebreak": "off",
    "object-curly-newline": [
      "error",
      {
        "multiline": true
      }
    ]
  },
  "globals": {
    "Drupal": true,
    "drupalSettings": true
  }
}
