parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:url\\(\\)\\.$#"
			count: 1
			path: web/modules/custom/base_module/src/Service/FieldManagerService.php

