includes:
    - phpstan.baseline.neon
    - vendor/mglaman/phpstan-drupal/extension.neon

parameters:
    level: 8
    paths:
        - web/modules/custom
        - web/themes/custom
        - tests
    fileExtensions:
        - php
        - theme
        - module
    checkMissingIterableValueType: false
