parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Field\\\\FieldItemListInterface\\:\\:\\$entity\\.$#"
			count: 1
			path: web/modules/custom/base_module/src/Service/FieldManagerService.php
