$min-font-size: 16px;
$max-font-size: 18px;
$max-reading-width: 580px;
$ms-base: 1.2 !default; // Minor Third 5:6
$ms-desktop: 1.5; // Demo: Perfect Fifth 2:3 -> different ratio for desktop

$t-default: "Open Sans", helvetica, arial, sans-serif;
$t-secondary: "Lora", georgia, serif;
