<section {% if block('sectionId') is defined %}id="{{ block('sectionId') }}"{% endif %} class="py-8 {% block sectionClass %}{% endblock %}" {% block sectionAttributes %}{% endblock %}>
    <div class="wrapper {% block sectionWrapperClass %}{% endblock %}">
        {% block sectionHeader %}{% endblock %}
        <div class="grid grid-cols-4">
            <div>
                {% block sectionAside %}{% endblock %}
            </div>
            <div class="col-span-3">
                {% block sectionContent %}{% endblock %}
            </div>
        </div>
        {% block sectionFooter %}{% endblock %}
    </div>
</section>
