.footer {
    background: $c-neutro900;
    color: $c-white;

    @include space('padding-bottom');
    @include space('padding-top');

    .u-icon { fill: $c-primary; }

    &__pages {
        li {
            display: inline-block;

            @include space('padding-right', .25);

            &:last-child { padding-right: 0; }

            a {
                color: currentColor;

                @include hover { opacity: .75; }
            }
        }
    }
}
