.header {
    padding: space() 0;

    &__logo {
        display: inherit;

        svg {
            max-height: space(2);

            path { fill: $c-primary; }
        }
    }

    &__language {
        li {
            display: inline-block;

            @include space('padding-right', .25);

            &:last-child { padding-right: 0; }

            span { font-weight: bold; }
        }
    }
}
