.header {
    @include space('padding', 1, 0);

    &__logo {
        display: inherit;

        svg {
            @include space('max-height', 2);

            path { fill: $c-primary; }
        }
    }

    &__language {
        li {
            display: inline-block;

            @include space('padding-right', .25);

            &:last-child { padding-right: 0; }

            span { font-weight: bold; }
        }
    }
}
