.navigation {
    &__item {
        color: inherit;
        text-decoration: none;

        @include space('margin', 0, .25);

        &.active { text-decoration: underline; }

        @include breakpoint($s768) {
            @include space('margin', 0, .5);
        }

        li:last-child & {
            margin-right: 0;
        }
    }
}
