.breadcrumbs {
    display: flex;
    flex-wrap: wrap;

    &__item {
        &:not(:last-child) {
            @include space('margin-right', .25);

            &::after {
                color: $c-black;
                content: ">";
                list-style: none;
                padding-bottom: .5rem;
                text-decoration: none;
            }
        }
    }

    &__link {
        text-decoration: underline;

        @include space('padding-right', .25);
    }
}
