{% import directory ~ '/templates/helpers/macros.html.twig' as macros %}

{% set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    'Archive-item',
    'item-presentation',
    'anim',
    'anim--down'
] %}

{% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
        {% block content %}
            <span class="Archive-itemLink t-h3">
                {{ content.field_cta[0]['#title'] }}
            </span>
            <div class="Archive-itemInfo">
                <a class="link download" target="_blank" href="{{ path(content.field_cta[0]['#url'].getRouteName(), content.field_cta[0]['#url'].getRouteParameters()) }}">{{ 'See more'|t }}</a>
            </div>
        {% endblock %}
    </div>
{% endblock paragraph %}
