{% import directory ~ '/templates/helpers/macros.html.twig' as macros %}

{% set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
'title-files-module'
] %}

{% block paragraph %}
    <section{{ attributes.addClass(classes) }}>
        {% block content %}
            <h3 class="t-h2">
                {{ content.field_module_title }}
            </h3>
            <div class="u-wysiwyg">
                {{ content.field_long_text }}
            </div>

            {{ content.field_link_file }}

        {% endblock %}
    </section>
{% endblock paragraph %}
