{% set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    'title-files-module'
] %}

{% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
        {% block content %}
            <h2 class="t-h2">{{ content.field_module_title }}</h2>
            {{ content.field_list }}
        {% endblock %}
    </div>
{% endblock paragraph %}
