{% from '@runroom/helpers/_macros.html.twig' import icon %}

<footer id="footer" class="footer" data-gtm-category="Navigation" data-gtm-action="Footer">
    <div class="u-wrapper u-flex u-flex--align-between u-flex--justify-between">
        {{ icon('r-runroom') }}
        <span>&copy; Runroom {{ 'now'|date('Y') }}</span>
        {{ drupal_menu('footer') }}
    </div>
</footer>
