{% from '@runroom/helpers/_macros.html.twig' import icon %}

<footer id="footer" class="footer">
    <div class="u-wrapper u-flex u-flex--align-between u-flex--justify-between">
        &copy; Runroom {{ 'now'|date('Y') }}
        {{ icon('r-runroom') }}
        {{ drupal_menu('footer') }}
    </div>
</footer>
