{% set gtm_label = is_front ? url('<front>') : url('<current>') %}

<header id="header" class="header" data-gtm-category="Navigation">
    <div class="header__wrapper u-wrapper u-flex u-flex--align-center u-flex--justify-between">
        <a
            data-gtm-event
            data-gtm-action="Logo"
            data-gtm-label="{{ gtm_label }}"
            itemscope
            itemtype="http://schema.org/Brand"
            class="header__logo"
            itemprop="url"
            href="{{ url('<front>') }}"
            title="{{ site_name }}"
            rel="home">
            {% include directory ~ '/build/svg/runroom-logo.svg' %}
        </a>
        {{ drupal_menu('main') }}
    </div>
</header>
