{% set class = class|default('') %}

<header id="header" class="header {{ class }}">
    <div class="header__wrapper u-wrapper u-flex u-flex--align-center u-flex--justify-between">
        <a class="header__logo" href="{{ url('<front>') }}">
            {% include '@runroom/helpers/_inline-svg.html.twig' with { svg: 'runroom-logo' } %}
        </a>
        {{ drupal_entity('block', 'languageswitcher') }}
    </div>
</header>
