{% set class = class|default('') %}

<header id="header" class="py-4 {{ class }}">
    <div class="wrapper flex items-center justify-between">
        <a href="{{ url('<front>') }}">
            {% include '@runroom/helpers/_inline-svg.html.twig' with { svg: 'runroom-logo' } %}
        </a>
        {{ drupal_entity('block', 'languageswitcher') }}
    </div>
</header>
