<div>
    <h3 class="sg-section__subtitle">Headings</h3>
    <div class="u-wysiwyg">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
    </div>
    {% include '@runroom/styleguide/templates/_divider.html.twig' %}
    <h3 class="sg-section__subtitle">Headings and paragraphs</h3>
    <div class="u-wysiwyg">
        <h1>Heading 1</h1>
        <p>
            Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim
            convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis
            suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at,
            tincidunt nec, gravida vehicula, nisl.
        </p>
        <h2>Heading 2</h2>
        <p>
            Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim
            convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis
            suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at,
            tincidunt nec, gravida vehicula, nisl.
        </p>
    </div>
    {% include '@runroom/styleguide/templates/_divider.html.twig' %}
    <h3 class="sg-section__subtitle">Block Elements</h3>
    <h4>Paragraphs and Images</h4>
    <div class="u-wysiwyg">
        <p>
            Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim
            convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis
            suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at,
            tincidunt nec, gravida vehicula, nisl.
        </p>
        <img
            alt="Placeholder Image and Some Alt Text"
            src="https://placehold.it/350x150"
            title="A title element for this placeholder image."
        />
    </div>
    {% include '@runroom/styleguide/templates/_divider.html.twig' %}
    <h3 class="sg-section__subtitle">List Types</h3>
    <h4>Unordered List</h4>
    <div class="u-wysiwyg">
        <ul>
            {% for item in 1.. 3 %}
            <li>
                List Item {{ item }}
                {% endfor %}
                <ul>
                    <li>
                        List Item 3.1.
                        <ul>
                            <li>List Item 3.1.1</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <h4>Ordered List</h4>
    <div class="u-wysiwyg">
        <ol>
            {% for item in 1.. 3 %}
            <li>
                List Item {{ item }}
                {% endfor %}
                <ol>
                    <li>
                        List Item 3.1.
                        <ol>
                            <li>List Item 3.1.1</li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
    </div>
    {% include '@runroom/styleguide/templates/_divider.html.twig' %}
</div>
