$button-bg: #000;
$button-color-disabled: #5a5959;

button,
[role="button"],
input[type="button"],
input[type="reset"],
input[type="submit"] {
    appearance: none;
    background-color: $button-bg;
    border: 0;
    color: $c-white;
    cursor: pointer;
    font-family: inherit;
    font-size: 100%;
    text-align: center;
    vertical-align: top;
    width: 100%;

    @include space('padding', .5, 2);
    @include space('line-height');

    * { pointer-events: none; }

    &:disabled {
        color: $button-color-disabled;
        cursor: default;
    }

    @include breakpoint($s480) { width: auto; }
}
