{% import 'helpers/macros.html.twig' as macros %}

<footer id="footer" class="footer">
    <div class="u-wrapper u-flex u-flex--align-start u-flex--justify-between">
        {% include directory ~ '/img/svg/runroom-logo.svg' %}
        &copy; Runroom {{ 'now'|date('Y') }}
        {% block content %}{% endblock %}
    </div>
</footer>
