<header class="header">
    <div class="u-wrapper u-flex u-flex--align-start u-flex--justify-between">
        <a
            itemscope
            itemtype="http://schema.org/Brand"
            class="header__logo"
            itemprop="url"
            href=""
            title=""
            rel="home"
        >
            {% include directory ~ '/img/svg/runroom-logo.svg' %}
        </a>
        {% block navigation %}{% endblock %}
        {% block language %}{% endblock %}
    </div>
</header>
