{#
/**
 * @file
 * This is a template file for a pop-up prompting user to give their consent for
 * the website to set cookies.
 *
 * When overriding this template it is important to note that jQuery will use
 * the following classes to assign actions to buttons:
 *
 * agree-button      - agree to setting cookies
 * find-more-button  - link to an information page
 *
 * Variables available:
 * - message:  Contains the text that will be display whithin the pop-up
 * - agree_button: Label for the agree button
 * - disagree_button: Label for the disagree button
 */
#}

<div>
  <div class="cookies-policy">
    <div class="u-wrapper u-flex--wrap u-flex">
      <div class="popup-text u-flex--s0-12 u-flex--s768-9">
        {{ message }}
      </div>
      <div class="u-flex--s0-12 u-flex--s768-3 cookies-btn">
        <button type="button" class="btn main agree-button ">
            <span>
                {{ agree_button }}
            </span>
        </button>
      </div>
    <div>
  </div>
</div>
