<h1>{{ title }}</h1>
<p>{{ text }}</p>

{# Start Wysiwyg Component #}
{# *********************** #}
<h2>Componente Wysiwyg:</h2>
{% set config = {
  content: '<p>Esto es un <strong>texto</strong> del wysiwyg de prueba, desde el <strong>c贸digo del styleguide</strong></p><p><img alt="test" data-entity-type="file" data-entity-uuid="fdfaf72b-bded-43d0-a707-dec0776482d6" src="/sites/default/files/styleguide/imagen-test.jpg"></p>'
} %}
{% include directory ~ '/templates/organisms/wysiwyg-component.html.twig' with config only %}
{# End Wysiwyg Component #}


{# Start Cta List Component #}
{# *********************** #}
{% set ctas %}
	{% for i in 1..4 %}
		{% include directory ~ '/templates/molecules/cta.html.twig' with {
			uri: "https://www.google.es",
			title: "CTA" ~ i
		} only %}
	{% endfor %}
{% endset %}

<h2>Componente lista CTA:</h2>
{% set config = {
  title: 'titulo dummy componente cta desde styleguide',
  description: 'Esta es una descripci贸n dummy desde codigo del styleguide',
  ctas: ctas
 } %}

{% include directory ~ '/templates/organisms/cta-list-component.html.twig' with config only %}
{# End Wysiwyg Component #}

{# Start Cta List Component #}
{# *********************** #}
{% set ctas %}
	{% for i in 1..4 %}
		{% include directory ~ '/templates/molecules/cta.html.twig' with {
			uri: "https://www.google.es",
			title: "CTA" ~ i
		} only %}
	{% endfor %}
{% endset %}

{% set nested %}
	{% for i in 1..4 %}
		{% include directory ~ '/templates/organisms/cta-list-component.html.twig' with {
		  title: 'titulo dummy componente cta desde styleguide' ~ i,
		  description: 'Esta es una descripci贸n dummy desde codigo del styleguide',
		  ctas: ctas
		 } only %}
	{% endfor %}
{% endset %}

<h2>Componente lista CTA:</h2>
{% set config = {
  title: 'titulo dummy componente cta desde styleguide',
  description: 'Esta es una descripci贸n dummy desde codigo del styleguide',
  ctas: nested
 } %}

{% include directory ~ '/templates/organisms/cta-list-component.html.twig' with config only %}
{# End Wysiwyg Component #}
