<h1>{{ title }}</h1>
<p>{{ text }}</p>

{# Wysiwyg component #}
{% include directory ~ '/templates/styleguide/wysiwyg/wysiwyg-component.html.twig' %}

{# CTA list component #}
{% include directory ~ '/templates/styleguide/cta_list/cta-list-component.html.twig' %}

{# Cards component #}
{% include directory ~ '/templates/styleguide/cards/cards-component.html.twig' %}
