{% set classes = [
    'form__element',
    'js-form-item',
    'form-item',
    'js-form-type-' ~ type|clean_class,
    'form-item-' ~ name|clean_class,
    'js-form-item-' ~ name|clean_class,
    title_display not in ['after', 'before'] ? 'form-no-label',
    disabled == 'disabled' ? 'form-disabled',
    errors ? 'form-item--error',
] %}

<div {{ attributes.addClass(classes) }}>
    {{ label }}
    {{ children }}
</div>
