<section class="Styleguide columns columns-container">

    <div class="Styleguide-section">
        <h2 class="Styleguide-sectionTitle">Typography</h2>

        <h1>H1: We arje new here hfnow</h1>
        <h2>H2: We arje new here hfnow</h2>
        <h3>H3: We arje new here hfnow</h3>
        <h4>H4: List number two</h4>
        <h5>H5: Its just a test</h5>
        <p>Nie wiem co tu napisac zobaczmy czy to wogole dziala Palanquin is a Unicode-compliant Latin and Devanagari text type family <a href="#">designed for the digital age</a>. The Devanagari is monolinear and was designed alongside the sans serif Latin. It currently comprises of seven text weights, and is extended with a heavier display family, Palanquin Dark, that has many subtle design details to  </p>
    </div>

    <div class="Styleguide-section Styleguide-colors">
        <h2 class="Styleguide-sectionTitle">Colors</h2>

        <ul class="Styleguide-colorsList">
            <h3 class="title">Main</h3>
            <li class="item is-main">c-main</li>
            <li class="item is-mainLight">c-mainLight</li>
            <li class="item is-mainDark">c-mainDark</li>
        </ul>

        <ul class="Styleguide-colorsList">
            <h3 class="title">Secondary</h3>
            <li class="item is-secondary">c-secondary</li>
            <li class="item is-secondaryLight">c-secondaryLight</li>
        </ul>

        <ul class="Styleguide-colorsList">
            <h3 class="title">Neutro</h3>
            <li class="item is-neutroLight">c-neutroLight</li>
            <li class="item is-neutro">c-neutro</li>
            <li class="item is-neutroDark">c-neutroDark</li>
        </ul>
    </div>

    <div class="Styleguide-section">
        <h2 class="Styleguide-sectionTitle">Botones</h2>

        <a class="btn main" href="#">Main button</a>
        <a class="btn hollow" href="#">Hollow button</a>

    </div>

    <div class="Styleguide-section">
        <h2 class="Styleguide-sectionTitle">Links</h2>
        <a class="link has-arrow" href="#"><span>Normal link</span>{% include directory ~ '/img/svg/arrow.svg' %}</a>
    </div>

    <div class="Styleguide-section Styleguide-icons">
        <h2 class="Styleguide-sectionTitle">icons</h2>

        <span class="icon">{% include directory ~ '/img/svg/arrow.svg' %}</span>
    </div>

</section>
