<div class="layout-container login-layout-container">

    <header role="banner">
        {{ page.header }}
    </header>

    <section class="help-region">
        {{ page.help }}
    </section>

    <main role="main">
        <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

        <div class="layout-content">
            {{ page.content }}
        </div>

    </main>

    <footer role="contentinfo">
        {{ page.footer }}
    </footer>

</div>
