.header {
    background: red;
    padding: space() 0;

    &__logo {
        display: inherit;

        svg {
            max-height: space(2);

            path { fill: $c-primary500; }
        }
    }
}
