// Variables
$global-max-width: 1440px;
$grid-columns: 12;
$global-radius: 5px;
$global-animation: all .3s ease-in-out;

// Typography & Vertical Rhythym
$global-min-font: 16px;
$global-max-font: 18px;
$base-font-size: 1rem;
$base-line-height-strip: 1.5;
$base-line-height: $base-line-height-strip * $base-font-size;

/* Typography */
$t-default: 'Palanquin', Helvetica, Arial, sans-serif;
$t-secondary: 'Cormorant Garamond', Palatino, serif;

$t-defaultFallback: Helvetica, Arial, sans-serif;
$t-secondaryFallback: Palatino, serif;

/* Colors */
//-main
$c-main: #96785e;
$c-mainLight: #b09074;
$c-mainDark: #85664c;
//-secondary
$c-secondary: #051c2c;
$c-secondaryLight: #27475e;
//-neutro
$c-black: #000;
$c-white: #fff;
$c-grey: #505050;
$c-lightGrey: #979797;
$c-neutroLight: #f9f9f9;
$c-neutro: #b2b2b2;
$c-neutroDark: #8a8d8f;

$c-border: #e6e6e6;
$c-squares: #f4f4f4;

$c-error: #e35936;

/* Media Queries */
$s0: (0, 30rem);             /* 0, 480px */
$s480: (30.063rem, 40rem);   /* 481px, 640px */
$s640: (40.063rem, 48rem);   /* 641px, 768px */
$s768: (48.063rem, 60rem);   /* 769px, 960px */
$s960: (60.063rem, 64rem);   /* 961px, 1024px */
$s1024: (64.063rem, 77.5rem);  /* 1025px, 1240px */
$s1240: (77.563rem, 90rem);  /* 1241px, 1440px */
$s1440: (90.063rem, 120rem); /* 1441px, 1920px */
$s1920: (120.063rem);        /* 1921px */

/* Usage -> @include breakpoint($s480) {width: 40%;} */

/* Retina */
$screen: "only screen" !default;
$retina: (
    "#{$screen} and (-webkit-min-device-pixel-ratio: 2)",
    "#{$screen} and (min--moz-device-pixel-ratio: 2)",
    "#{$screen} and (-o-min-device-pixel-ratio: 2/1)",
    "#{$screen} and (min-device-pixel-ratio: 2)",
    "#{$screen} and (min-resolution: 192dpi)",
    "#{$screen} and (min-resolution: 2dppx)"
);

@mixin breakpoint($range, $orientation: '', $only: false) {
    @if $orientation != '' {
        $orientation: "and (orientation: #{$orientation})";
    }

    @if $only == true {
        @media #{$screen} and (min-width: #{nth($range, 1)}) and (max-width: #{nth($range, 2)}) #{$orientation} {
            @content;
        }
    }

    @else {
        @media #{$screen} and (min-width: #{nth($range, 1)}) #{$orientation} {
            @content;
        }
    }
}

// Media Queries
$s0: (0, 379px);
$s380: (380px, 479px);
$s480: (480px, 639px);
$s640: (640px, 767px);
$s768: (768px, 959px);
$s960: (960px, 1023px);
$s1024: (1024px, 1199px);
$s1200: (1200px, 1439px);
$s1440: (1440px, 1919px);
$s1920: (1920px, 0);

$breakpoints: (
    (s0, $s0),
    (s480, $s480),
    (s640, $s640),
    (s768, $s768),
    (s960, $s960),
    (s1024, $s1024),
    (s1200, $s1200),
    (s1440, $s1440),
    (s1920, $s1920)
);
$screen: "only screen" !default;
