html, body {
    @include fluid-type($min-font-size, $max-font-size);

    color: $c-neutro900;
    font-family: $t-default;
    font-weight: 400;
    text-size-adjust: 100%;

    @include space('line-height');
}

h1, .t-title1 { @extend %title1; }
h2, .t-title2 { @extend %title2; }
h3, .t-title3 { @extend %title3; }
h4, .t-title4 { @extend %title4; }

.p-small {
    @extend %textSmall;
}

b, strong { font-weight: 700; }
i, em { font-style: italic; }

p, blockquote {
    @include space('margin-bottom');
}

a {
    color: $c-neutro900;
    cursor: pointer;
    text-decoration: underline;
    transition: color .1s ease-out;
    will-change: color;

    @include hover {
        color: $c-neutro300;
    }
}
