.actualidad-links {
    @include marginBottomL;

    .actualidad-links-container {
        background-color: $c-neutroLight;

        @media only screen and (max-width: 767px) {
            padding: 0;
        }

        @include breakpoint($s768) {
            background-color: transparent;
        }
    }

    .actualidad-links-block {
        border-bottom: get-rems(1px) solid $c-neutro;
        padding: space(2) space() space(.75);
        width: 100%;

        &:nth-last-child(1) {
            border-bottom: 0;
        }

        .t-h4.subtitle {
            margin-bottom: space();
        }

        .views-row:nth-last-child(1) {
            .Archive-item {
                border-bottom: none;
            }
        }

        @include breakpoint($s768) {
            border-bottom: 0;
            padding: space(2) 0;

            &:nth-last-child(1) {
                padding-bottom: 0;
            }
        }

        @include breakpoint($s1024) {
            .t-h4.subtitle {
                @include indented-line;

                &.animated {
                    @include indented-line-animated;
                }
            }
        }
    }

    .actualidad-title {
        padding: 0 space();
        padding-top: space(2);

        .t-h2 {
            margin-bottom: 0;
        }

        @include breakpoint($s768) {
            padding: 0;
        }
    }

    .content {
        background-color: $c-neutroLight;

        @include breakpoint($s768) {
            padding: space(2);
        }
    }
}
