.Card {
    background-color: $c-white;
    margin-top: 0;
    padding: space() 0 0;
    position: relative;

    @include breakpoint($s640) {
        margin-top: -20vh;
        padding: space(1.5) space(2);
    }

    @include breakpoint($s960) {
        margin-top: -32vh;
    }

    @include breakpoint($s1200) {
        margin-top: -38vh;
    }

    @include breakpoint($s1440) { padding: space(2) space(3); }

    &-info, &-title {
        font-weight: 300;
        margin-bottom: space(.5);
    }

    &-category {
        align-items: center;
        display: flex;
        margin-bottom: space(.75);

        .title {
            font-weight: 300;
            margin-bottom: 0;
            margin-right: get-rems(5px);
        }
    }

    &-intro {
        padding: 0;
        position: relative;

        @include indented-line($left: 0, $leftBig: 0);

        &.animated {
            @include indented-line-animated;
        }
    }

    &-list {
        padding-top: space(1);

        @include breakpoint($s768) { padding: space(1.3) 0 0 space(2); }

        .Card-listItem {
            border-bottom: get-rems(1px) solid $c-border;
            display: flex;
            justify-content: space-between;
            padding: space(.75) 0;

            &:first-child { border-top: get-rems(1px) solid $c-border; }

            .text {
                color: $c-grey;
                display: block;
                font-weight: 300;
                margin-bottom: 0;
                max-width: 50%;

                @include breakpoint($s640) { max-width: 42%; }
            }

            .value {
                display: block;
                font-weight: 300;
                max-width: 50%;
                text-align: right;

                @include breakpoint($s640) { max-width: 42%; }
            }
        }
    }

    &--indent {
        @include indented-line;

        &.animated {
            @include indented-line-animated;
        }
    }
}
