.description-load {
    @include marginBottomL;

    &--img {
        @include marginBottomS;
    }

    @include breakpoint($s1024) {
        margin-top: space(6);

        &--img {
            margin-top: space(3);
        }
    }

    .description-load-container {
        background-color: $c-squares;
        padding-bottom: space();
        padding-top: space();

        @include breakpoint($s768) {
            padding-bottom: space(2);
            padding-top: space(2);
        }

        @include breakpoint($s1024) {
            background-color: transparent;
            justify-content: center;
            padding-bottom: 0;
            padding-top: 0;
        }

        &--nopadding {
            margin-left: space(-1);
            margin-right: space(-1);
            padding: 0;

            .content {
                padding: 0;
            }

            @include breakpoint($s768) {
                margin-left: 0;
                margin-right: 0;
                padding-bottom: 0;
                padding-top: 0;
            }
        }
    }

    .content {
        margin-bottom: space();

        @include breakpoint($s768) {
            margin-bottom: 0;
            padding: 0 space(2);
        }

        @include breakpoint($s1024) {
            padding-left: 0;
            padding-right: space(4);
        }

        @include breakpoint($s1200) {
            padding-right: space(6);
        }

        .color-wrapper {
            background-color: $c-secondary;
            color: $c-white;
            padding: space(1.5) space(.5);

            &--light {
                background-color: $c-squares;
                padding: space();
                padding-bottom: 0;

                .text p {
                    color: $c-grey;
                }
            }

            @include breakpoint($s768) {
                padding: space(2);

                &--light {
                    padding: space();
                    padding-bottom: 0;
                }
            }

            @include breakpoint($s960) {
                &--light {
                    .text {
                        padding-left: 0;

                        &::before {
                            display: none;
                        }
                    }
                }
            }

            @include breakpoint($s1024) {
                margin-top: space(-2);
                padding: space(2) space(1);

                &--light {
                    padding: space();
                }
            }

            @include breakpoint($s1200) {
                padding: space(3) space(2);

                &--light {
                    padding: space(2);
                }
            }
        }

        p {
            color: $c-white;
            margin-bottom: space();
        }

        a {
            @include caps;

            align-items: center;
            color: $c-mainLight;
            font-size: get-rems(12px);
            font-weight: 600;
            letter-spacing: get-rems(4px);
            text-decoration: none;
            text-transform: uppercase;
        }
    }

    .links {
        @include breakpoint($s768) {
            padding: space(2);
            padding-bottom: 0;
        }

        @include breakpoint($s1024) {
            padding: space(2);
            padding-left: 0;
            position: relative;

            &::before {
                background-color: $c-squares;
                bottom: 0;
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                width: 140%;
                z-index: -1;
            }
        }

        .Archive-item {
            @include breakpoint($s1024) {
                margin-left: space(-2);
            }

            @include breakpoint($s1200) {
                margin-left: space(-3.5);
                margin-right: space();
            }

            &:last-child {
                border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }

        .Archive-itemLink {
            &.no-margin {
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }

    .hotels {
        padding: space();
        padding-top: 0;

        .image {
            display: block;

            &::before {
                display: none;
            }

            img {
                max-width: 100%;
                width: 100%;
            }
        }

        @include breakpoint($s768) {
            padding-top: space();
        }

        @include breakpoint($s1024) {
            padding: 0;

            .image {
                margin-left: space(-3);
                z-index: -1;
            }
        }
    }
}
