header {
    align-items: center;
    background-color: $c-secondary;
    justify-content: space-between;
    padding: space(.5) space();
    width: 100%;
    z-index: 9;

    @include breakpoint($s768) {
        @include veilDown;

        background-color: transparent;
        display: flex;
        padding: space() space(1.75);
        position: absolute;
    }

    .Header-logo {
        display: inline-block;

        @include breakpoint($s768) { display: block; }

        img {
            width: get-rems(160px);

            @include breakpoint($s768) {
                width: auto;
            }
        }
    }

    .Header-nav {
        display: none;

        @include breakpoint($s1200) { display: inline-block; }

        ul {
            display: inline-block;

            li {
                display: inline-block;
                margin-left: space(2.5);

                @include breakpoint($s1200) { margin-left: space(2); }

                @include breakpoint($s1440) { margin-left: space(2.5); }

                &:first-child { margin-left: 0; }

                a {
                    @include caps;
                    @include hoverLink;

                    font-size: get-rems(11px);
                    position: relative;
                    text-decoration: none;
                }
            }
        }

        .Header-navLanguages {
            display: inline-block;
            margin-left: space(2.5);

            @include breakpoint($s1200) { margin-left: space(1.5); }

            @include breakpoint($s1440) { margin-left: space(2.5); }
        }
    }

    .Header-menu {
        color: $c-white;
        display: inline-block;
        position: absolute;
        right: space(.5);
        top: space();
        z-index: 3;

        &.is-active { position: fixed; }

        @include breakpoint($s1200) { display: none; }
    }

    .Header-navMobile {
        padding: space() space() space(3);

        @media screen and (max-width: 1200px) {
            background-color: $c-secondary;
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 2;

            @include transition($type: all, $time: .6s, $ease: cubic-bezier(.4, 0, .2, 1));

            &.is-closed {
                transform: translateX(100%);
            }

            &.is-open {
                transform: translateX(0);

                .Header-navMobile--wrapper {
                    .nav {
                        ul li {
                            opacity: 1;
                            transform: translate(0);

                            @include transition($type: all, $time: .4s, $ease: cubic-bezier(.4, 0, .2, 1));

                            @for $i from 0 through 8 {
                                &:nth-child(#{$i}) {
                                    transition-delay: .1s * $i;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media screen and (min-width: 340px) { padding: space() space() space(5); }

        @media only screen and (orientation: landscape) and (max-width: 767px) {
            overflow-x: scroll;
        }

        @include breakpoint($s768) { padding: space(2) space() space(10); }

        @include breakpoint($s1200) { display: none; }

        .Header-navMobile--wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            text-align: center;

            @media only screen and (orientation: landscape) and (max-width: 767px) {
                height: get-rems(420px);
            }

            .logo {
                display: inline-block;
                width: get-rems(160px);

                img { width: get-rems(160px); }
            }

            .nav {
                ul li {
                    margin-bottom: space();
                    opacity: 0;
                    position: relative;
                    transform: translate(0, 20px);
                    transition-delay: 0;

                    @include transition($type: all, $time: .2s, $ease: cubic-bezier(.4, 0, .2, 1));
                    @include fluid-type(12px, 17px);

                    &:last-child { margin-bottom: 0; }

                    a {
                        @include caps;

                        color: $c-white;

                        &.is-active { border-bottom: 1px solid $c-white; }
                    }
                }
            }
        }
    }
}

.Header-hamburgerFlex {
    align-items: center;
    align-self: flex-end;
    display: flex;
    flex: 0 0 auto;
    height: space();
    padding: 0 space(.5) 0 space(.25);

    &.is-active {
        .Header-hamburger {
            background-color: transparent;

            &::before {
                top: 0;
                transform: rotate(-45deg);
            }

            &::after {
                top: 0;
                transform: rotate(45deg);
            }
        }
    }
}

.Header-hamburger {
    background-color: $c-white;
    display: block;
    height: get-pxs(3px);
    position: relative;
    transition: all .3s ease-in-out;
    width: get-pxs(29px);

    &::before {
        background-color: $c-white;
        content: '';
        height: get-pxs(3px);
        left: 0;
        position: absolute;
        right: 0;
        top: get-pxs(-7px);
        transition: all .3s ease-in-out;
        width: get-pxs(29px);
    }

    &::after {
        background-color: $c-white;
        bottom: get-pxs(-7px);
        content: '';
        height: get-pxs(3px);
        left: 0;
        position: absolute;
        right: 0;
        transition: all .3s ease-in-out;
        width: get-pxs(29px);
    }
}

#block-hipartners-local-tasks ul {
    background-color: rgba($c-black, .85);
    bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: space(.5) space();
    position: fixed;
    width: 100%;
    z-index: 999;

    a { color: $c-white; }
}

.logo-print {
    display: none;
}
