section.hero {
    @include paddingSectionXXL;
    @include marginBottomM;
    @include veil;

    background-repeat: no-repeat;
    padding-top: space(3);
    position: relative;
    text-align: center;

    @media screen and (max-width: 767px) {
        background-position: center !important;
        background-size: cover !important;
    }

    @include breakpoint($s768) {
        // background-size: 140% auto;
        background-size: cover;
        padding-top: space(7);
    }

    @include breakpoint($s1240) {
        background-size: 120% auto;
        padding-top: space(9);
    }

    .t-h1, .t-h4 { color: $c-white; }

    .t-h1 {
        margin: 0 auto;
        max-width: 920px;
    }

    .t-h4 { font-weight: 700; }

    .parallax-veil {
        background-color: $c-secondary;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    &.has-imagesidebar {
        color: $c-secondary;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: space();
        text-align: left;

        @include breakpoint($s768) {
            color: $c-white;
            padding-bottom: space(5);
            padding-top: space(3);
            position: relative;
            text-align: center;

            @include marginBottomM;
        }

        @include breakpoint($s768) { padding-top: space(7); }

        @include breakpoint($s1240) { padding-top: space(9); }

        &::before {
            content: none;

            @include breakpoint($s768) { content: ''; }
        }

        .t-h1, .t-h4 {
            color: $c-secondary;

            @include breakpoint($s768) {
                color: $c-white;
            }
        }
    }
}
