section.hero-card {
    @include marginBottomM;

    .desktop-img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: none;
        position: relative;

        .parallax-veil {
            background-color: $c-secondary;
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;

            @media screen and (max-width: 767px) {
                display: none;
            }
        }

        @include breakpoint($s768) {
            display: block;
            padding-top: 48%;
        }

        @include breakpoint($s1024) {
            display: block;
            padding-top: 40%;
        }
    }

    .mobile-img {
        img { width: 100%; }

        @include breakpoint($s768) {
            display: none;
        }
    }

    .hero-cardContainter {
        @include breakpoint($s768) {
            display: flex;
        }
    }
}
