.hero-horizontal-card {
    height: calc(100vh - 73px);
    margin-bottom: space(2);
    position: relative;

    @include veil;

    @media only screen and (orientation: landscape) and (max-width: 767px) {
        height: auto;
    }

    @include breakpoint($s768) {
        height: auto;
        margin-bottom: space(3);
        padding: space(6) space(0) space(2);
        text-align: center;
    }

    @include breakpoint($s1024) {
        margin-bottom: space(4);
        padding: space(6.5) space(0) space(8);
    }

    @include breakpoint($s1440) {
        padding: space(7) space(0) space(9);
    }

    .desktop-img {
        display: none;

        @include breakpoint($s768) {
            background-repeat: no-repeat;
            background-size: 120% auto;
            display: block;
            z-index: -1;
        }

        .parallax-veil {
            background-color: $c-secondary;
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;

            @media screen and (max-width: 767px) {
                display: none;
            }
        }
    }

    .mobile-img {
        z-index: -1;

        img { width: 100%; }

        @include breakpoint($s768) {
            display: none;
        }
    }

    .desktop-img,
    .mobile-img {
        background-position: center;
        background-size: cover;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .hero-horizontal-card-copies {
        bottom: 0;
        left: 0;
        padding: space() space() space(2);
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;

        .lead {
            margin-bottom: space();
        }

        .lead,
        .lead p {
            color: $c-white;
            font-weight: 600;
        }

        @include breakpoint($s380) {
            padding: space(2);
        }

        @include breakpoint($s480) {
            padding: space(3);

            .t-h1,
            .lead {
                margin-bottom: space(2);
            }
        }

        @media only screen and (orientation: landscape) and (max-width: 767px) {
            bottom: auto;
            left: auto;
            padding: space(2);
            padding-bottom: space(3);
            position: relative;
            right: auto;
            top: auto;
            z-index: 1;
        }

        @include breakpoint($s768) {
            bottom: auto;
            left: auto;
            margin: 0 auto;
            max-width: get-rems(768px);
            padding: 0 3rem;
            position: relative;
            right: auto;
            top: auto;
            z-index: 1;

            .t-h1 {
                margin-bottom: space();
            }
        }

        @include breakpoint($s1024) {
            max-width: get-rems(820px);
        }
    }

    .arrow-mobile {
        background-image: url('/themes/custom/hipartners/assets/img/flecha-menu-white.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 35%;
        bottom: 1rem;
        height: get-rems(48px);
        left: 50%;
        margin-left: -1.5rem;
        position: absolute;
        transform: rotate(180deg);
        width: get-rems(48px);

        @include breakpoint($s768) {
            display: none;
        }
    }
}

.hero-highlights {
    background-color: $c-squares;
    margin-bottom: space(2);
    margin-top: space(-2);
    padding: space(.75);

    @include breakpoint($s768) {
        margin-top: space(-3);
        padding: 0;
    }

    @include breakpoint($s1024) {
        background-color: transparent;
        margin: 0 auto;
        margin-bottom: space(3);
        margin-top: calc(-120px - 6rem);
        padding: 0 space(2);

        .u-flex--s1024-10 {
            background-color: $c-white;
            width: 10 / 12 * 100%;
        }
    }

    @include breakpoint($s1200) {
        .u-flex--s1024-10 {
            background-color: $c-white;
            width: 10 / 12 * 100%;
        }
    }

    .hero-highlights-pill {
        padding: space(.5);
        text-align: center;
        width: 50%;

        @include breakpoint($s768) {
            padding: space();
            position: relative;
            width: 25%;

            &::before {
                background-color: $c-border;
                content: "";
                display: inline-block;
                height: get-rems(61px);
                left: 100%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                width: get-rems(2px);
            }

            &:nth-last-child(1)::before {
                display: none;
            }
        }

        @include breakpoint($s1024) {
            background-color: $c-white;
            padding: space(1.25);
        }
    }

    .figure {
        color: $c-secondary;
        font-family: $t-secondaryFallback;
        font-size: get-rems(42px);
        line-height: 1.1;
        margin-bottom: space();

        .fonts-loaded & { font-family: $t-secondary; }
    }

    .value {
        margin-bottom: 0;
    }
}
