.Sidemenu {
    background-color: $c-neutroLight;
    border-bottom: 2px solid $c-border;
    margin-bottom: space();

    @include breakpoint($s768) { margin-top: space(-4); }

    @include breakpoint($s1200) { margin-top: space(-5); }

    &.open {
        .Sidemenu-header {
            .u-icon {
                transform: rotate(-180deg);
            }
        }
    }

    .Sidemenu-header {
        background-color: $c-border;
        cursor: pointer;
        display: block;
        padding: space(.5) space() space(.75);
        position: relative;

        @include breakpoint($s768) {
            cursor: default;
            padding: space(.75) space();
        }

        .subtitle {
            color: $c-secondary;
            display: block;
            font-size: 12px;
            margin-bottom: get-rems(-2px);

            @include breakpoint($s768) {
                display: none;
            }
        }

        .title {
            color: $c-secondary;
            font-family: $t-default;
            font-size: get-rems(13px);
            font-weight: 600;
            letter-spacing: get-rems(3px);
            line-height: 1.2;
            margin-bottom: 0;
            text-transform: uppercase;

            @include breakpoint($s768) {
                font-family: $t-secondary;
                font-size: get-rems(24px);
                font-weight: 600;
                letter-spacing: 0;
                text-transform: none;
            }
        }

        .u-icon {
            bottom: space();
            fill: $c-secondary;
            height: get-rems(10px);
            position: absolute;
            right: space();
            width: get-rems(10px);

            @include transition;

            @include breakpoint($s768) {
                display: none;
            }
        }

        @include breakpoint($s768) {
            background-color: $c-neutroLight;
            color: $c-secondary;
        }
    }

    ul {
        display: none;

        @include breakpoint($s768) { display: block; }

        li {
            a, span {
                @include caps;
                @include transition;

                color: $c-secondary;
                cursor: pointer;
                display: block;
                font-size: get-rems(12px);
                line-height: 1.8;
                padding: space(.75) space();

                &.is-active {
                    background-color: $c-secondary;
                    color: $c-white;
                }

                &:hover {
                    background-color: $c-neutro;
                    color: $c-white;
                }
            }

            span {
                position: relative;

                &::after,
                &::before {
                    content: url('/themes/custom/hipartners/assets/img/flecha-menu.svg');
                    display: block;
                    position: absolute;
                    right: space();
                    top: 35%;
                    transform: rotate(180deg);

                    @include transition;
                }

                &::after {
                    content: url('/themes/custom/hipartners/assets/img/flecha-menu.svg');
                }

                &::before {
                    content: url('/themes/custom/hipartners/assets/img/flecha-menu-white.svg');
                }

                &:hover::after {
                    opacity: 0;
                }
            }

            ul {
                display: none;

                li a {
                    font-size: 16px;
                    font-weight: 100;
                    letter-spacing: 0;
                    line-height: 1.5;
                    padding-left: space(2);
                    text-transform: none;
                }
            }
        }

        .sidemenu-dropdownLabel.open {
            span::after {
                transform: rotate(360deg);
            }

            span::before {
                transform: rotate(0deg);

                @include transition;
            }
        }
    }
}

.Sidemenu-desktop {
    display: none;

    @include breakpoint($s768) { display: block; }
}

.Sidemenu-mobile {
    display: block;
    margin-bottom: space();

    @include breakpoint($s768) { display: none; }
}
