.Stars {
    display: flex;

    &-list {
        align-items: center;
        display: flex;
        justify-content: center;

        li {
            padding: 0 1px;

            svg {
                fill: $c-main;
                height: 10px;
                width: 10px;
            }
        }

        @media screen and (min-width: 340px) {
            li {
                svg {
                    height: 13px;
                    width: 13px;
                }
            }
        }
    }

    &-extra {
        border: 1px solid $c-main;
        color: $c-main;
        font-size: 9px;
        font-weight: 600;
        letter-spacing: 2.8px;
        margin: 0 0 0 5px;
        padding: 0 space(.15);
        text-transform: uppercase;
        white-space: nowrap;

        @media screen and (min-width: 340px) {
            font-size: 11px;
            margin: 0 0 0 10px;
            padding: 0 space(.25);
        }
    }
}
