.Styleguide {
    .Styleguide-section {
        margin-bottom: space(2);

        .Styleguide-sectionTitle {
            border-bottom: 1px solid $c-lightGrey;
            margin-bottom: space();
            padding-bottom: space(.5);
        }
    }

    .Styleguide-icons {
        .icon {
            margin-bottom: space();
            margin-right: space();

            svg {
                height: get-rems(24px);
                width: get-rems(24px);
            }
        }
    }

    .Styleguide-colors {
        .Styleguide-colorsList {
            margin-bottom: space();

            .title {
                font-weight: bold;
                margin-bottom: space(.5);
            }

            .item {
                margin-bottom: space(.5);

                &::before {
                    border-radius: 100%;
                    content: '';
                    display: inline-block;
                    height: get-rems(14px);
                    margin-right: get-rems(10px);
                    position: relative;
                    top: get-rems(2px);
                    width: get-rems(14px);
                }

                &.is-main {
                    &::before {
                        background-color: $c-main;
                    }
                }

                &.is-mainLight {
                    &::before {
                        background-color: $c-mainLight;
                    }
                }

                &.is-mainDark {
                    &::before {
                        background-color: $c-mainDark;
                    }
                }

                &.is-secondary {
                    &::before {
                        background-color: $c-secondary;
                    }
                }

                &.is-secondaryLight {
                    &::before {
                        background-color: $c-secondaryLight;
                    }
                }

                &.is-neutroLight {
                    &::before {
                        background-color: $c-neutroLight;
                        border: 1px solid $c-lightGrey;
                    }
                }

                &.is-neutro {
                    &::before {
                        background-color: $c-neutro;
                    }
                }

                &.is-neutroDark {
                    &::before {
                        background-color: $c-neutroDark;
                    }
                }
            }
        }
    }
}
