.Team-list {
    .Team-itemWrapper {
        @include breakpoint($s640) {
            &:nth-child(odd) {
                padding-right: space();
            }

            &:nth-child(even) {
                padding-left: space();

                .image::before,
                .subtitle.animated::before {
                    transition-delay: .3s;
                }
            }
        }

        @include breakpoint($s768) {
            &:nth-child(odd) {
                padding-right: 0;
            }

            &:nth-child(even) {
                padding-left: 0;
            }
        }
    }

    .Team-item {
        display: block;
        margin-bottom: space(1.5);
        padding-top: 0;
        text-decoration: none;

        @include breakpoint($s640) {
            padding-left: 0;
            padding-right: 0;
        }

        @include breakpoint($s768) {
            margin-bottom: space(2.5);
            padding-right: 20%;
            padding-top: space();
        }

        @include breakpoint($s1024) {
            padding-right: 38%;
        }

        .image, .title, .subtitle {
            margin-bottom: space(.5);

            @include breakpoint($s768) {
                margin-bottom: space();
            }
        }

        &:hover {
            @include breakpoint($s1024) {
                .image {
                    .background {
                        transform: translateY(get-rems(-3px));
                    }
                }
            }
        }

        .image {
            background-position: center;
            background-size: cover;
            padding-top: 100%;
            position: relative;

            @include breakpoint($s768) {
                padding-top: 140%;
            }

            .background {
                background-position: top;
                background-repeat: no-repeat;
                background-size: cover;
                bottom: 0;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 1;

                @include transition($type: all, $time: .3s, $ease: ease-out);

                @include breakpoint($s768) {
                    background-position: center;
                }
            }

            &::before {
                background-color: $c-squares;
                height: 100%;
                left: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: -1;

                @include transition($type: all, $time: 1s, $ease: cubic-bezier(.4, 0, .2, 1));

                @include breakpoint($s768) {
                    content: '';
                }
            }

            &.animated::before {
                left: space();
                opacity: 1;
                top: space(-1);

                @include breakpoint($s1024) {
                    left: space(2);
                }
            }

            img {
                width: 100%;
            }
        }

        .title {
            color: $c-mainDark;
        }

        .subtitle {
            @include indented-line;

            &.animated {
                @include indented-line-animated;
            }
        }
    }
}

.Team-profile {
    @include marginBottomM;

    .Team-profileImage {
        height: get-rems(320px);
        margin-bottom: space();
        overflow: hidden;
        position: relative;

        @include breakpoint($s480) {
            height: get-rems(440px);
        }

        @include breakpoint($s640) {
            height: 100%;
            overflow: inherit;
        }

        @include breakpoint($s768) {
            margin-bottom: 0;
        }

        img {
            width: 100%;
        }

        .Team-profileImageWrapper {
            position: relative;

            &::before {
                background-color: $c-squares;
                bottom: space(-1);
                height: 80%;
                left: space();
                position: absolute;
                width: 100%;
                z-index: -1;

                @include breakpoint($s768) {
                    content: '';
                }

                @include breakpoint($s1024) {
                    left: space(2);
                }
            }
        }
    }

    .Team-profileInfo {
        @include indented-line;

        &.animated {
            @include indented-line-animated;
        }

        .title {
            margin-bottom: space();
        }

        .content {
            p {
                margin-bottom: space();
            }
        }
    }
}
