.text-image {
    @include marginBottomL;

    &.image-left {
        .text-image-container {
            flex-direction: row-reverse;

            .content {
                @include breakpoint($s768) {
                    padding-left: space(2);
                    padding-right: 0;
                }

                @include breakpoint($s1024) {
                    padding-left: space(4);
                    padding-right: 0;
                }
            }
        }

        .image {
            &::before {
                left: 0;
            }

            &.animated::before {
                left: 20%;
                opacity: 1;
            }

            img {
                @include breakpoint($s768) {
                    margin-left: 0;
                }
            }
        }
    }

    &.image-right {
        .image {
            &::before {
                right: 0;
            }

            &.animated::before {
                opacity: 1;
                right: 20%;
            }

            img {
                @include breakpoint($s768) {
                    margin-right: 0;
                }
            }
        }
    }

    .text-image-container {
        @include breakpoint($s768) {
            justify-content: center;

            .with-sidebar & {
                padding: 0;
            }
        }
    }

    .content {
        .text {
            @include indented-line;

            &.animated {
                @include indented-line-animated;
            }
        }

        @include breakpoint($s768) {
            padding-right: space(2);
        }

        @include breakpoint($s1024) {
            padding-right: space(4);
        }

        @include breakpoint($s1200) {
            padding-right: space(6);
        }

        .image-mobile {
            margin-bottom: space();

            @include breakpoint($s768) {
                display: none;
            }

            img {
                width: 100%;
            }
        }

        p {
            margin-bottom: space();
        }

        a {
            @include caps;

            align-items: center;
            font-size: get-rems(12px);
            font-weight: 600;
            letter-spacing: get-rems(4px);
            text-decoration: none;
            text-transform: uppercase;
        }
    }

    .image {
        display: none;
        position: relative;

        @include breakpoint($s768) {
            display: block;
        }

        &.show-mobile {
            display: block;
        }

        &::before {
            background-color: $c-squares;
            bottom: 0;
            content: "";
            display: none;
            height: 85%;
            margin: auto;
            max-width: get-rems(550px);
            opacity: 0;
            position: absolute;
            top: 0;
            width: 80%;

            @include transition($type: all, $time: 1s, $ease: cubic-bezier(.4, 0, .2, 1));

            @include breakpoint($s768) {
                display: block;
            }
        }

        img {
            margin: auto;
            position: relative;

            @include breakpoint($s768) {
                max-width: 80%;
                width: 80%;
            }

            @include breakpoint($s1440) {
                max-width: 85%;
                width: 85%;
            }
        }
    }
}
