.title-files-module {
    margin-bottom: space(3);
    margin-top: space();

    &:nth-last-child(1) {
        margin-bottom: 0;
    }

    @include breakpoint($s768) {
        margin-bottom: space(4);
        margin-top: space(2);

        &:nth-last-child(1) {
            margin-bottom: 0;
        }
    }
}

.highlight-block {
    background-color: $c-squares;
    margin-top: space(2);
    padding: space() space(.75);

    @include breakpoint($s768) {
        margin-top: space(2);
        padding: space();
    }
}

.highlight-block,
.title-files-module {
    .Archive-item {
        &:nth-last-child(1) {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}
