.Video {
    @include marginBottomL;

    position: relative;

    .Video-wrapper {
        position: relative;

        .Video-title {
            margin-bottom: space();
            position: relative;

            @include breakpoint($s768) {
                margin-bottom: space(2);
                padding: 0;
            }

            &::before {
                background-color: $c-squares;
                content: "";
                display: none;
                height: get-rems(400px);
                left: space(-2);
                margin: auto;
                position: absolute;
                top: space(-1.5);
                width: get-rems(460px);
                z-index: -1;

                @include breakpoint($s960) {
                    display: block;
                }

                @include breakpoint($s1200) {
                    height: get-rems(520px);
                }
            }
        }

        .Video-content {
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;

            .video-iframe {
                height: 0;
                overflow: hidden;
                padding-bottom: 56.25%;
                position: relative;
            }

            .video-iframe iframe,
            .video-iframe object,
            .video-iframe embed {
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }
        }
    }
}

.youtube-player {
    cursor: pointer;
    display: block;
    height: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
}

img.youtube-thumb {
    bottom: 0;
    display: block;
    height: auto;
    left: 0;
    margin: auto;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

div.play-button {
    background: url("../assets/img/video-play-button.png") no-repeat;
    height: 72px;
    left: 50%;
    margin-left: -36px;
    margin-top: -36px;
    opacity: .75;
    position: absolute;
    top: 50%;
    width: 72px;
}

#youtube-iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
