.u-wysiwyg {
    padding-bottom: space();

    p {
        margin-bottom: space();

        strong {
            font-weight: bold;
        }

        em {
            font-style: italic;
        }

        &.hollow-cta {
            a {
                background-color: transparent;
                border: 1px solid $c-main;
                color: $c-main;
                cursor: pointer;
                display: inline-block;
                font-size: get-rems(12px);
                font-weight: 600;
                letter-spacing: get-rems(4px);
                min-width: space(6);
                padding: get-rems(14px) space(1.75);
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                transition: all .3s ease;

                &:hover {
                    background-color: $c-mainLight;
                    border-color: $c-mainLight;
                    color: $c-white;
                }
            }
        }
    }

    ul {
        margin-bottom: space();

        li {
            padding-left: space();
            text-indent: space(-1);

            &::before {
                background: $c-grey;
                border-radius: 50%;
                content: "";
                display: inline-block;
                height: get-pxs(3px);
                margin-bottom: get-pxs(2px);
                margin-right: space();
                width: get-pxs(3px);
            }
        }
    }

    ol {
        list-style: decimal;
        margin-bottom: space();
        margin-left: space(.9);

        li {
            padding-left: space(.9);
            text-indent: space(-1);

            &::before {
                color: $c-grey;
                content: "";
                display: inline-block;
                margin-right: space(.8);
            }
        }
    }

    blockquote {
        p {
            color: $c-secondary;
            font-family: $t-secondary;
            line-height: 1.3;
            margin-bottom: space(2);
            padding: space() 0 0;
            position: relative;

            @include fluid-type(23px, 24px);

            @include breakpoint($s768) {
                padding: space(1.5) space(2.5) 0;
            }

            &::before {
                background-color: $c-squares;
                content: '';
                height: get-rems(88px);
                position: absolute;
                right: 0;
                top: space(.25);
                transition-delay: .3s;
                width: 0;
                z-index: -1;

                @include transition($type: all, $time: 1.2s, $ease: cubic-bezier(.4, 0, .2, 1));

                @include breakpoint($s768) {
                    right: space(1.75);
                    top: space(.75);
                }
            }

            &.animated::before {
                width: get-rems(260px);

                @include breakpoint($s768) {
                    width: get-rems(325px);
                }
            }

            &::after {
                content: '”';
                font-family: $t-secondary;
                font-size: get-rems(60px);
                position: absolute;
                right: space(.75);
                top: space(-.75);
                z-index: 0;

                @include breakpoint($s768) {
                    right: space(2.25);
                    top: space(-.25);
                }
            }
        }
    }

    //
    //
    // OVERRIDING RESPONSIVE TABLES PLUGIN. CHANGING MEDIA QUERY
    //
    //
    @media (max-width: 979px) {
        .tablesaw-stack thead td,
        .tablesaw-stack thead th {
            display: none;
        }

        .tablesaw-stack tbody td,
        .tablesaw-stack tbody th {
            clear: left;
            float: left;
            width: 100%;
        }

        .tablesaw-cell-label {
            vertical-align: top;
        }

        .tablesaw-cell-content {
            display: inline-block;
            max-width: 67%;
        }

        .tablesaw-stack td:empty,
        .tablesaw-stack th:empty {
            display: none;
        }

        .tablesaw-stack td .tablesaw-cell-label,
        .tablesaw-stack th .tablesaw-cell-label {
            display: block !important;
        }
    }

    /* Media query to show as a standard table at 560px (35em x 16px) or wider */

    @media (min-width: 980px) {
        table.tablesaw-stack {
            display: table;
        }

        .tablesaw-stack tr {
            display: table-row;
        }

        /* Show the table header rows */

        .tablesaw-stack td,
        .tablesaw-stack th,
        .tablesaw-stack thead td,
        .tablesaw-stack thead th {
            display: table-cell;
            margin: 0;
        }

        /* Hide the labels in each cell */

        .tablesaw-stack td .tablesaw-cell-label,
        .tablesaw-stack th .tablesaw-cell-label {
            display: none !important;
        }
    }
    //
    //
    // OVERRIDING RESPONSIVE TABLES PLUGIN. CHANGING MEDIA QUERY
    //
    //

    table {
        &.vistazo {
            margin-bottom: space(2.5);
            width: 100% !important;

            tr {
                border-bottom: solid 1px $c-border;

                &:first-child {
                    border-top: solid 1px $c-border;
                    text-align: left;
                }

                p { margin: get-rems(17px) space(0); }

                td {
                    @include fluid-type(16px, 17px);

                    color: $c-grey;
                    font-weight: 100;
                    line-height: 1.4;
                    text-align: right;

                    &:first-child { text-align: left; }
                }
            }
        }

        &.tablesaw {
            font-weight: 300;
            margin-bottom: space(2.5);
            width: 100% !important;

            thead tr,
            thead tr:first-child {
                border: 0;
            }

            thead th {
                padding: get-rems(10px) get-rems(12px);
            }

            tr {
                border: 0;

                &:first-child {
                    border-top: solid 1px $c-border;
                }

                &:last-child {
                    border-bottom: solid 1px $c-border;
                }

                &:nth-child(even) {
                    background-color: $c-squares;
                }

                @include breakpoint($s768) {
                    &:first-child {
                        border-top: 0;
                        border-top: solid 1px $c-border;
                    }
                }

                p { margin: get-rems(17px) space(0); }

                td {
                    color: $c-grey;
                    display: flex;
                    flex-wrap: nowrap;
                    padding: get-rems(10px) get-rems(12px);

                    &:first-child {
                        padding-top: get-rems(17px);
                    }

                    &:last-child {
                        padding-bottom: get-rems(17px);
                    }

                    .tablesaw-cell-label,
                    .tablesaw-cell-content {
                        @include fluid-type(13px, 16px);

                        text-align: left;
                        width: 50%;
                    }

                    .tablesaw-cell-content {
                        font-weight: 100;
                        line-height: 1.4;
                        text-align: right;
                    }

                    .tablesaw-cell-label {
                        font-weight: 300;
                        letter-spacing: 4px;
                        line-height: 1.4;
                        text-transform: uppercase;
                    }

                    @include breakpoint(980px) {
                        display: table-cell;

                        .tablesaw-cell-content {
                            text-align: left;
                        }
                    }
                }

                th {
                    @include fluid-type(13px, 13px);

                    color: $c-grey;
                    font-weight: 300;
                    letter-spacing: 4px;
                    line-height: 1.4;
                    text-transform: uppercase;
                }
            }
        }

        &.with-scroll {
            background-color: $c-squares;
            border: get-rems(12px) solid #f4f4f4;
            border-right: 0;
            display: block;
            font-weight: 300;
            margin-bottom: space(2.5);
            overflow-x: auto;
            overflow-y: scroll;
            width: 100% !important;

            thead tr,
            thead tr:first-child {
                border: 0;
            }

            thead th {
                padding: get-rems(10px) get-rems(12px);
                text-align: left;
            }

            tr {
                border: 0;

                &:first-child {
                    border-top: solid 1px $c-border;
                }

                &:nth-child(even) {
                    background-color: $c-white;
                }

                @include breakpoint($s768) {
                    &:first-child {
                        border-top: 0;
                        border-top: solid 1px $c-border;
                    }
                }

                p { margin: get-rems(17px) space(0); }

                td {
                    color: $c-grey;
                    padding: get-rems(10px) get-rems(12px);

                    &:first-child {
                        padding-top: get-rems(17px);
                    }

                    &:last-child {
                        border-right: get-rems(6px) solid #f4f4f4;
                        padding-bottom: get-rems(17px);
                    }

                    .tablesaw-cell-label,
                    .tablesaw-cell-content {
                        @include fluid-type(13px, 16px);

                        text-align: left;
                        width: 50%;
                    }

                    .tablesaw-cell-content {
                        font-weight: 100;
                        line-height: 1.4;
                    }

                    .tablesaw-cell-label {
                        font-weight: 300;
                        letter-spacing: 4px;
                        line-height: 1.4;
                        text-transform: uppercase;
                    }

                    @include breakpoint($s768) {
                        display: table-cell;
                    }
                }

                th {
                    @include fluid-type(13px, 13px);

                    color: $c-grey;
                    font-weight: 300;
                    letter-spacing: 4px;
                    line-height: 1.4;
                    text-transform: uppercase;
                }
            }
        }
    }

    img { width: 100%; }

    hr {
        border: 0;
        border-bottom: 1px solid $c-border;
        margin-bottom: space();
        margin-top: space();
    }
}
