<div class="u-flex--s0-12 u-flex--s640-6 Team-itemWrapper">
    <a class="Team-item" href="{{ url }}">
        <div class="image anim anim--box">
            <div style="background-image: url({{ file_url(content.field_image.0['#item'].entity.uri.value) }})" class="background">
            </div>
        </div>
        <div class="t-h3 title">{{ content.field_header_title }}</div>
        <div class="t-h4 subtitle anim"> {{ content.field_position }}</div>
    </a>
</div>
