<a class="Related-hotelsItem" href="{{ url }}">
    <div class="background" style="background-image: url('{{ file_url(content.field_hotel_background_image.0['#item'].entity.uri.value) }}');"></div>
    <span class="t-h5 subtitle">{{ content.field_hotel_place }}</span>
    <span class="t-h2 title">{{ label }}</span>
</a>
