<article{% block attributes %}{% endblock %}>
    <section{{ content_attributes }} class="hero-horizontal-card">
        <div class="desktop-img parallax" {% block image %}{% endblock %}>
            <span class="parallax-veil"></span>
        </div>
        <div class="mobile-img"  {% block mobileImage %}{% endblock %}>
        </div>

        <div id="homeHeader" class="hero-horizontal-card-copies">
            {% block heroCopies %}
            {% endblock %}

            <a class="arrow-mobile js-arrow-mobile" href="#"></a>
        </div>

    </section>

    {% block heroHighlights %}
    {% endblock %}

    {% block content %}{% endblock %}
</article>
