<article{% block attributes %}{% endblock %}>
    <section class="hero-basic">
        <div class="u-wrapper is-basic">
            {% block heroCopies %}{% endblock %}
        </div>
    </section>
    <div class="content-basic-container">
        {% block content %}{% endblock %}
    </div>
</article>
