<article{% block attributes %}{% endblock %}>
    <section{{ content_attributes }} class="hero-card">
        <div class="desktop-img parallax" {% block image %}{% endblock %}>
            <span class="parallax-veil"></span>
        </div>
        <div class="mobile-img">{% block mobileImage %}{% endblock %}</div>
        <div class="hero-cardContainter u-wrapper">
            <div class="u-flex--s0-12 u-flex--s768-1"></div>
            <div class="Card u-flex--s0-12 u-flex--s768-10 u-flex--s1200-6" {% block cardAttributes %}{% endblock %}>
                {% block card %}
                {% endblock %}
            </div>
        </div>
    </section>
    {% block content %}{% endblock %}
</article>
