{% extends '@runroom/styleguide/templates/_section.html.twig' %}

{% block id %}Headings{% endblock %}
{% block title %}Headings{% endblock %}
{% block description %}{% endblock %}

{%- block code -%}
<div class="u-flex--wrap">
    <div class="u-flex--s960-12" style="padding: 20px;">
        <h1 class="title1">This is a title 1</h1>
        <h2 class="title2">This is a title 2</h2>
        <h3 class="title3">This is a title 3</h3>
    </div>
</div>
{%- endblock -%}
