{% extends directory ~ '/templates/styleguide/templates/section.html.twig' %}

{% import '@runroom/helpers/_macros.html.twig' as macros %}

{% block id %}Links{% endblock %}
{% block title %}Links{% endblock %}
{% block description %}{% endblock %}

{%- block code -%}
<div class="u-wysiwyg">
    <a href="#">This is a wysiwyg link</a>
</div>
<a href="#">This is a navigation link</a>
{%- endblock -%}
