.cookies {
    &__subtitle {
        @include space('margin-bottom', .5);

        @include breakpoint($s768) {
            @include space('margin-bottom');
        }
    }

    &__section {
        @include space('margin-bottom', 2);

        @include breakpoint($s768) {
            @include space('margin-bottom', 3.5);
        }
    }

    &__header {
        border-bottom: 1px solid $c-neutro100;
        margin-bottom: space();
        padding-bottom: space();

        @include breakpoint($s768) {
            display: flex;
            justify-content: space-between;
            margin-bottom: space(2);
            padding-bottom: 0;
        }
    }
}
