/* Button */
%button {
    appearance: none;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 100%;
    font-weight: 200;
    padding: 0;

    &[attr="disabled"],
    &:disabled {
        box-shadow: none;
    }

    * { pointer-events: none; }
}
