%lists {
    @include space('padding-left');

    list-style: none;
    & li { position: relative; }

    & ul, & ul ul,
    & ol, & ol ol {
        list-style: inherit;
    }
}

%custom-ul {
    @extend %lists;

    margin-left: 0;
    margin-right: 0;

    li {
        &::before {
            @include square(5px);
            @include space('left', -1);

            background-color: $c-neutro900;
            border-radius: 100%;
            content: '';
            display: inline-block;
            position: absolute;
            top: get-rems(12px);
        }
    }
}

%custom-ol {
    @extend %lists;

    counter-reset: counter-level-1;

    li {
        counter-increment: counter-level-1;

        &::before {
            @include space('left', -1);

            color: $c-neutro900;
            content: counter(counter-level-1) ". ";
            display: inline-block;
            position: absolute;
            top: 0;
        }

        ol {
            counter-reset: counter-level-2;

            li {
                @include space('margin-left', 1.5);

                counter-increment: counter-level-2;

                &::before {
                    @include space('left', -1.5);

                    content: counter(counter-level-1) ". " counter(counter-level-2);
                }

                ol {
                    counter-reset: counter-level-3;

                    li {
                        @include space('margin-left', 2);

                        counter-increment: counter-level-3;

                        &::before {
                            @include space('left', -2);

                            content: counter(counter-level-1) ". " counter(counter-level-2) ". " counter(counter-level-3);
                        }
                    }
                }
            }
        }
    }
}
