/* Headings */
%hyphens {
    @include breakpoint-max(440px) {
        hyphens: auto;
    }
}

%title1 {
    font-size: ms(4);
    font-weight: 700;
    line-height: 1;
}

%title2 {
    font-size: ms(3);
    line-height: 1.2;
}

%title3 { font-size: ms(2); }
%title4 { font-size: ms(1); }

%title1,
%title2 {
    font-weight: 200;
    letter-spacing: .3px;

    @extend %hyphens;
}

%title3,
%title4 { line-height: 1.5; }

%title1,
%title2,
%title3,
%title4 {
    font-family: $t-secondary;

    @include space('margin', 0, 0, 1);
}

%textSmall { font-size: ms(-1); }
