.u-wrapper {
    max-width: $global-max-width;

    &, &--reading {
        height: 100%;
        margin: 0 auto;

        @include space('padding-left');
        @include space('padding-right');
    }

    &:not(.u-wrapper--reading) {
        @include breakpoint($s768) {
            @include space('padding-left', 2);
            @include space('padding-right', 2);
        }

        @include breakpoint-maxwidth {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &--reading {
        max-width: $reader-width;

        @include breakpoint-maxwidth($reader-width) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
