{% if multiple %}
  <div{{ attributes }}>
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  </div>
{% else %}
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
{% endif %}
